body
{
  position: static;
  top: 0px;
  padding:0px;
  margin:0px;
  height:100%;

  background-color: rgba(0, 0, 1, 0.5);
  background-repeat:no-repeat;
  .background-size(cover);

  color: white;
  font-family: Helvetica, Verdana;

  background-attachment: fixed;
  overflow-x:hidden; overflow-y:auto;
}

#header
{
    float: left;
    width: 100%;
    height: 60px;
    background-color: pink
}

#titleText
{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 34px;
}

#fotter
{

}
