body
{
  position: static;
  top: 0px;
  padding:0px;
  margin:0px;
  height:100%;

  background-color: rgba(0, 0, 1, 0.5);
  background-repeat:no-repeat;
  background-size: cover;

  color: white;
  font-family: Helvetica, Verdana;
  /*background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/fc/Emu-wild.jpg') !important;*/
  background-attachment: fixed;
  overflow-x:hidden; overflow-y:auto;
}

#header
{
  height: 60px;
  background-color: pink
}

#titleText
{
  position: absolute;
  float: left;
  width: 100%;
  text-align: center;
  line-height: 60px;
  font-size: 34px;
}

#userDetails
{
  position: relative;
  float: right;
}

/* Avatar */
#userDetails > img
{
  position: relative;
  float: left;
  width: 60px;
  height: 60px;
}

/* User name */
#userDetails > span
{
  float: left;
  line-height: 60px;
  font-size: 24px;
  margin-right: 5px;
}

#fotter
{

}

#wrapper 
{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background-color: rgba(255,170,250,0.5);
	padding: 20px;
	border-radius: 4px;
}

#gameCont
{
	position: relative;
	float: left;
	margin-top: 5px;
	left: 50%;
	margin-left: -640px;
}

/* LOBBY STYLES */
.currentRoomInfo{
	border: 1px solid #fff;
	margin: 5px;
	overflow: hidden;
}

.currentRoomInfo div{
	height: 60px;
	float:left;
	border-right: 1px solid;
	text-align:center;
	line-height: 27px;
}

.currentRoomInfo .info  .header {
	font-size: 14px;
	color: #eee;
	width: 120px;
	height: 21px;
	line-height: 21px;
	text-align: center;
	border-bottom: 1px solid;
	border-right: 0;
	font-weight: bold;
}