<div id="wrapper" class="content box-sizing">
	<h3>Current room info</h3>
	
	{{#if room._data.data.level}}
		<div class="currentRoomInfo">
			<div class="info"><div class="header">Level</div><br/>
				{{room._data.data.level}}
			</div>
			<div class="info"><div class="header">Gold</div><br/>
				{{player._data.data.gold}}
			</div>
		</div>
	{{else}}
		<small>You are not in a room!</small>
	{{/if}}
	
	<h3>Join or Create Room</h3>
	<input type="text" placeholder="room#" id="roomId"/>
	<input type="button" value="Join Room" onclick="JoinNew()"/>
	
	<h3>Game Room List</h3>
	<table style="width:100%;border-collapse: collapse;text-align: center;">
		<thead>
			<tr style="background-color: #888"><th>ID</th><th>Level</th><th>Active/Total Players</th><th>State</th><th></th></tr>
		</thead>
		
		<tbody id="rooms">
		
		</tbody>
	</table>

	<script>
		ShowGames("rooms");
	</script>
</div>
