<div id="wrapper" class="content box-sizing">
	<a href="/auth/steam" alt="login with steam"><img src="//steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_large_border.png" /></a>
</div>
