<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{Base.site.title}}</title>
        <link rel="stylesheet" href="/css/style.css" />
		<script src="/scripts/main.js"></script>
		
        {{{global.Head2}}}
    </head>
    <body class="box-sizing">
        <div id="header">
            <span id="titleText">Steam Summer Monster Game Emu</span>
        </div>

    	<div id="wrapper" class="content box-sizing">
            {{{body}}}
    	</div>

    	<div id="footer">

    	</div>
    </body>
</html>
